<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SftpIp" value="x.x.x.x"/>
    <add key="SftpUserName" value="x"/>
    <add key="SftpPassword" value="x"/>
    <add key="DestinationPath" value="/home/shared/x"/>
    <add key="SourcePath" value="C:\Soner"/>
  </appSettings>
</configuration>